<h1>タスク詳細</h1>
<%= link_to '一覧に戻る', root_path, class:"btn btn-outline-primary" %>
<%= link_to '編集', edit_task_path(@task), class: "btn btn-raised btn-primary" %>
<%= link_to '削除', @task, class: "btn btn-raised btn-danger", method: :delete, data: { confirm: '削除しますか?' } %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">タイトル</th>
      <th scope="col">詳細</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td scope="row"><%= @task.name %></td>
      <td scope="row"><%= @task.description %></td>
    </tr>
  </tbody>
</table>
